<section class="home">
  <create-gallery></create-gallery>

  <input ng-model="homeCtrl.gallerySearchTerm" type="text" placeholder="text">

  <ul> <!-- below here we made a file name called gallerySearch then we made that a filter. The pipe signifies were about to give it a filter  Were going through an array of galleries. -->
    <gallery-item
      ng-repeat="item in homeCtrl.galleries | gallerySearch: homeCtrl.gallerySearchTerm"
      gallery="item"
      delete-done="homeCtrl.galleryDeleteDone(galleryData)"
      ng-click="homeCtrl.currentGallery = item"
      ></gallery-item>
  </ul>

  <thumbnail-container ng-if="homeCtrl.currentGallery" gallery="homeCtrl.currentGallery"></thumbnail-container>
</section>
