@import "../scss/lib/theme/vars";

.icons {
  display: inline-block;
  margin: auto;

  .social-icon {
    display: inline-block;
    margin-right: 12vw;
    margin-left: 15vw;

    .social-icon:nth-child(1) {
      background: url('../../assets/social-sheet.png') no-repeat -19px -22px;
      width: 268px;
      height: 269px;
      zoom: 0.15;
    }

    .social-icon:nth-child(2) {
      background: url('../../assets/social-sheet.png') no-repeat -350px -25px;
      width: 275px;
      height: 268px;
      zoom: 0.15;
    }

    .social-icon:nth-child(3) {
      background: url('../../assets/social-sheet.png') no-repeat -19px -361px;
      width: 268px;
      height: 269px;
      zoom: 0.15;
    }
  }
}
