//all imports go in here//

@import 'lib/base/reset';
@import 'lib/theme/vars';
@import 'lib/base/base';

//::::BASE Styles:::://
// body {
//   background-color: pink;
// }
//
// @import "lib/base/reset";
// @import "lib/base/base";
// //::::LAYOUT Styles:::://
//
// @import "lib/layout/header";
// @import "lib/layout/footer";
// @import "lib/layout/content";
//
//
// //::::COMPONENT Styles:::://
//

// @import "../component/login/login";
@import "../component/navbar/navbar";
@import "../component/landing/signup/signup";


@import "../view/landing/landing";
