@import "../../../scss/theme/vars";

// .clearfix {
//   clear: both;
// }

::-webkit-input-placeholder {
  text-indent: $gutter-sm;
  font-size: 1.1vw;
}

.btn-std {
  float: right;
  margin-right: $gutter;
}
