body {
  background: $grey;
  font-family: helvetica;
  width: 80%;
  margin: 0 auto;
  min-height: 800px;
}

.btn-std {
  background: $darkgrey;
  color: $white;
  font-size: 1.2vw;
  padding: 1vw 5vw;
}
