@import "../../../scss/lib/theme/vars";

.upload-pic{

.input-std{
  width: 98%;
  margin: 2% 0;
  border: 1px solid;
  border-color: #222222;
  height: 4vw;
  border-radius: 8px;
  padding-left: 2vw;
  font-size: 1.45vw;
}

p{
  font-size: 2vw;
}

h3{
  font-size:  2vw;
}
}
