

.social-icon-facebook {
      background: url('https://s3-us-west-2.amazonaws.com/slugtestbucket/social-icons-sprite-sheet.png') no-repeat -36px -27px;
      width: 128px;
      height: 128px;
    }

 .social-icon-twitter {
      background: url('https://s3-us-west-2.amazonaws.com/slugtestbucket/social-icons-sprite-sheet.png') no-repeat -436px -27px;
      width: 128px;
      height: 128px;
    }
  
  .social-icon-instagram {
      background: url('https://s3-us-west-2.amazonaws.com/slugtestbucket/social-icons-sprite-sheet.png') no-repeat -636px -27px;
      width: 128px;
      height: 128px;
    }
