.icon-list {
  display: block;
}

.ng-binding {
  display: none;
}
.social-icon-linkedIn {
  background-image: url(../../assets/icons.png);
  background-repeat: no-repeat;
  background-position: -362px -25px;
	width: 31px;
	height: 34px;
}

.social-icon-twitter {
  background-image: url(../../assets/icons.png);
  background-repeat: no-repeat;
	background-position: -695px -27px;
	width: 37px;
	height: 30px;
}

.social-icon-facebook {
  background-image: url(../../assets/icons.png);
  background-repeat: no-repeat;
	background-position: -34px -23px;
	width: 17px;
	height: 37px;
}
