<section class ="landing">
  <div class = "join-container"
    ng-if="landingCtrl.showSignup">
    <div class = "join-inner">
    <signup></signup>
      <p>Oh! Already a member?</p>
      <a href="/#/join#login"
      ng-click="landingCtrl.showSignup=false">
      Sign in Here.
    </a>
  </div>
</div>

<div class= "join-container"
  ng-if="!landingCtrl.showSignup">
    <div class = "join-inner">
    <login></login>
      <p>Oh! You want to sign up?</p>
      <a href ="/#/join#signup"
       ng-click="landingCtrl.showSignup=true">
      Sign up Here.
      </a>
    </div>
  </div>



</section>
