// Global variables //



// Pallette  //

$darkgrey: rgb(68, 77, 86);
$grey: rgb(209, 213, 218);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

// spacing //
$gutter: 5%;
$gutter-sm: $gutter / 2;
